<div class="container">
    <div class="row">
        <section>
            <h2>About our store</h2>
            <p>The store was founded in 2011, and since then it won the “Best Plushie Store” award every year.</p>
            <div class="text-center mb-3">
                <img class="img-responsive" style="height: 25em; width: 20em;" src="/assets/feladat2.png" alt="Best Plushie Store award">
            </div>
            <h2>Famous plushies</h2>
            <div class="row mt-4 mb-3 g-0">
                <div class="col-sm-3 border me-3 pt-2 p-3 col-12">
                    <h3>Daniel the Dinosaur</h3>
                    <p>A large dinosaur by famous plushie maker John Plush.</p>
                </div>
                <div class="col-sm-3 border me-3 pt-2 p-3 col-12">
                    <h3>Ted</h3>
                    <p>The first life-sized teddy bear in the country.</p>
                </div>
                <div class="col-sm-3 border pt-2 p-3 col-12">
                    <h3>Coffee Cat</h3>
                    <p>A controversial plushie that promoted drinking coffee to aid web development.</p>
                </div>
            </div>
        </section>
        <form class="mb-3">
            <div class="row g-0 mb-3">
                <h2>Provide feedback</h2>
                <label for="">Email</label>
                <input class="border border-radius" type="url">
                <label for="">Feedback</label>
                <textarea class="border border-radius"></textarea>
            </div> 
            <button class="btn btn-primary">Submit</button>
        </form>
        <footer>
            <p>Created by: Boldog Ferenc</p>
        </footer>
    </div>
</div>
