<header class="container">
  <nav class="mb-3">
      <a class="me-2" style="text-decoration: none;" routerLink="">Home</a>
      <a class="me-2" style="text-decoration: none;" routerLink="history">History</a>
      <a class="me-2"  style="text-decoration: none;" routerLink="toys">Plush toys</a>
      <a class="me-2"  style="text-decoration: none;" routerLink="new-plushie">New plushie</a>
      <a class="me-2"  style="text-decoration: none;" routerLink="inventory">Inventory</a>
  </nav>
</header>
<router-outlet>
</router-outlet>

